<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (project(); as projectRef) {
      <div>
        <h2 data-cy="projectDetailsHeading"><span jhiTranslate="filemasterproApp.project.detail.title">Project</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ projectRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="filemasterproApp.project.name">Name</span></dt>
          <dd>
            <span>{{ projectRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="filemasterproApp.project.description">Description</span></dt>
          <dd>
            <span>{{ projectRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="filemasterproApp.project.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ projectRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="filemasterproApp.project.lastUpdatedDate">Last Updated Date</span></dt>
          <dd>
            <span>{{ projectRef.lastUpdatedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/project', projectRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
