<div class="container">
  <div class="row">
    <div class="col-4">
      <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading" jhiTranslate="filemasterproApp.file.home.createOrEditLabel">
          Create or edit a File
        </h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          @if (editForm.controls.id.value !== null) {
            <div class="mb-3">
              <label class="form-label" for="field_id" jhiTranslate="filemasterproApp.file.id">ID</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>
          }

          @let rawFileRef = editForm.get('rawFile')!;
          <div class="mb-3">
            <label class="form-label" for="field_rawFile" jhiTranslate="filemasterproApp.file.rawFile">Raw File</label>
            <div>
              @if (rawFileRef.value) {
                <div class="form-text text-danger clearfix">
                  <span class="pull-start">{{ editForm.get('rawFileContentType')!.value }}, {{ byteSize(rawFileRef.value!) }}</span>
                  <button
                    type="button"
                    (click)="editForm.patchValue({ rawFile: undefined, rawFileContentType: undefined })"
                    class="btn btn-secondary btn-xs pull-end"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              }
              <input
                type="file"
                id="file_rawFile"
                data-cy="rawFile"
                (change)="setFileData($event, 'rawFile', false)"
                jhiTranslate="entity.action.addblob"
              />
            </div>
            <input type="hidden" class="form-control" name="rawFile" id="field_rawFile" data-cy="rawFile" formControlName="rawFile" />
            <input
              type="hidden"
              class="form-control"
              name="rawFileContentType"
              id="field_rawFileContentType"
              formControlName="rawFileContentType"
            />
          </div>

          @let typeRef = editForm.get('type')!;
          <div class="mb-3">
            <label class="form-label" for="field_type" jhiTranslate="filemasterproApp.file.type">Type</label>
            <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
              <option [ngValue]="null">{{ 'filemasterproApp.FileType.null' | translate }}</option>
              @for (fileType of fileTypeValues; track $index) {
                <option [value]="fileType">{{ 'filemasterproApp.FileType.' + fileType | translate }}</option>
              }
            </select>
            @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
              <div>
                @if (editForm.get('type')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="field_project" jhiTranslate="filemasterproApp.file.project">Project</label>
            <select
              class="form-control"
              id="field_project"
              data-cy="project"
              name="project"
              formControlName="project"
              [compareWith]="compareProject"
            >
              <option [ngValue]="null"></option>
              @for (projectOption of projectsSharedCollection; track $index) {
                <option [ngValue]="projectOption">{{ projectOption.description }}</option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="field_fileDate" jhiTranslate="filemasterproApp.file.fileDate">File Date</label>
            <div class="input-group">
              <input
                id="field_fileDate"
                data-cy="fileDate"
                type="text"
                class="form-control"
                name="fileDate"
                ngbDatepicker
                #fileDateDp="ngbDatepicker"
                formControlName="fileDate"
              />
              <button type="button" class="btn btn-secondary" (click)="fileDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="field_vendor" jhiTranslate="filemasterproApp.file.vendor">Vendor</label>
            <select
              class="form-control"
              id="field_vendor"
              data-cy="vendor"
              name="vendor"
              formControlName="vendor"
              [compareWith]="compareVendor"
            >
              <option [ngValue]="null"></option>
              @for (vendorOption of vendorsSharedCollection; track $index) {
                <option [ngValue]="vendorOption">{{ vendorOption.name }}</option>
              }
            </select>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="filemasterproApp.file.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="filemasterproApp.file.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="filemasterproApp.file.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-8">
      <div class="alert alert-warning">
        <h4>File Details</h4>
      </div>
    </div>
  </div>
</div>
